*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

:root{
  --body-color: #EDF0F5;
  --nav-color: #1876f2;
  --bg-color: #fff;
  --text--color: #000000;
  --textsecondary--color: #65676b;
}

.dark-theme{
  --body-color: #18191A;
  --nav-color: #242526;
  --bg-color: #242526;
  --text--color: #e4e6eb;
  --textsecondary--color: #b0b3b8;
}

body{
  background: var(--body-color);
  transition: background 0.3s;
}

.boton{
  background-color: #1876f2;
  padding: 20px;
  cursor: pointer;
}